<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <%= render "layouts/application_userbar" %>
  <!-- search form -->
  <%= render "layouts/application_search" %>
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <%= render "layouts/application_barmenu" %>
</section>
<!-- /.sidebar -->